<div class="typo3-messages">
    <div class="alert alert-info">
        <div class="media">
            <div class="media-left">
                            <span class="icon-emphasized">
                               <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-info" data-identifier="actions-info">
                                  <span class="icon-markup">
                                     <svg class="icon-color"><use xlink:href="/typo3/sysext/core/Resources/Public/Icons/T3Icons/sprites/actions.svg#actions-info"></use></svg>
                                  </span>
                               </span>
                            </span>
            </div>
            <div class="media-body">
                <h4 class="alert-title">{f:translate(key: 'header', extensionName: 'google_indexer')}</h4>
                <p class="alert-message">{f:translate(key: 'empty', extensionName: 'google_indexer')}</p>
            </div>
        </div>
    </div>
</div>
